.header-cover {
  .cover__container {
    .header-title {
      h1 {
        font-size: 4.8rem;
      }
      h2 {
        font-size: 3.6rem;
      }
    }
  }
}

.header__nav {
  .nav__container {
    @extend %contenedorDesktop;
    display: grid;
    grid-template-columns: 1fr 2fr;
    .nav-menu-movil {
      display: none;
    }
    .nav-menu {
      display: unset;
      width: unset;
      display: flex;
      justify-content: end;

      a {
        padding: 5px 25px;
        border-left: 3px solid hsl(0, 0, 90);
        border-bottom: none;

        &:hover {
          text-decoration: underline;
          background-color: unset;
        }
      }
      a:first-child {
        border-left: none;
      }
    }
  }
}
.header-carrousel {
  height: auto;
}

.index-events {
  .events__container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
}

footer {
  .footer-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    article {
      align-self: start;
    }

    .footer-badge {
      position: relative;
      .footer-image-logo {
        position: absolute;
        top: -60px;
      }
    }
  }
}
