.header__nav {
  @extend %contenedorDesktop;
  display: grid;
  grid-template-columns: 1fr 2fr;
  .nav-menu-movil {
    display: none;
  }
  .nav-menu {
    display: unset;
    width: unset;
    display: flex;
    justify-content: end;

    a {
      padding: 5px 25px;
      border-left: 3px solid hsl(0, 0, 90);
      border-bottom: none;

      &:hover {
        text-decoration: underline;
        background-color: unset;
      }
    }
    a:first-child {
      border-left: none;
    }
  }
}
.header-carrousel {
  height: 550px;
}

.index-careers {
  .careers__container-desktop {
    display: block;

    .career-names {
      display: flex;

      article {
        flex-grow: 1;
        text-transform: uppercase;
        font-weight: bold;
        color: hsl(0, 0%, 100%);
        text-align: center;
        padding: 10px 0;
        transition: flex-grow 0.2s ease;

        &:hover {
          flex-grow: 3;
        }
      }

      .enfermeria {
        background-color: hsl(171, 69%, 51%);
      }
      .administracion {
        background-color: hsl(0, 83%, 53%);
      }
      .acuacultura {
        background-color: hsl(111, 64%, 39%);
      }
      .informatica {
        background-color: hsl(214, 53%, 51%);
      }
      .derecho {
        background-color: hsl(24, 91%, 35%);
      }
      .alimentos {
        background-color: hsl(49, 94%, 49%);
      }
    }

    .information-career {
      height: 350px;
      background-color: hsl(0, 0%, 88%);
      .enfermeria {
        background-image: url(../img/nursing.jpg);
        background-position: center center;
        background-size: cover;
        height: 100%;
      }

      .container__career {
        background: linear-gradient(
          302deg,
          black 5%,
          black 10%,
          rgba(255, 255, 255, 0) 85%
        );
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .info {
          grid-column: 2 / 3;
          text-transform: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: start;

          .enlace {
            text-align: center;
          }

          a {
            text-transform: uppercase;
            color: hsl(0, 0%, 100%);
            border: 2px solid hsl(0, 0%, 100%);
            padding: 10px 20px;
          }
          // align-items: ;
        }
      }
    }
  }
  .careers__container-mobile {
    display: none;
  }
}

.index-events,
.index-processes {
  .events__container,
  .processes__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
  }
}

footer {
  .footer-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    article {
      align-self: start;
    }

    .footer-badge {
      position: relative;
      .footer-image-logo {
        position: absolute;
        top: -60px;
      }
    }
  }
}
