.index-careers {
  @extend %contenedorMovil;
  max-width: $maxWidthContainer;
  padding: 20px 0;
  .careers__container-desktop {
    display: none;
  }

  article {
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    text-align: center;
    height: 100%;

    .title {
      display: flex;

      .career__p {
        width: 85%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .career__icon {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .enfermeria {
    background-color: hsl(171, 69%, 51%);
  }
  .administracion {
    background-color: hsl(0, 83%, 53%);
  }
  .acuacultura {
    background-color: hsl(111, 64%, 39%);
  }
  .informatica {
    background-color: hsl(214, 53%, 51%);
  }
  .derecho {
    background-color: hsl(24, 91%, 35%);
  }
  .alimentos {
    background-color: hsl(49, 94%, 49%);
  }
}

.map__section {
  padding: 20px 0;
  .map__container {
    height: 400px;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
