.header__nav {
  @extend %contenedorMovil;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .nav-logo {
    width: 35%;
    display: flex;

    img {
      width: 100%;
    }
  }

  .nav-menu {
    width: 100%;

    a {
      display: block;
      text-align: center;
      padding: 10px 15px;
      border-bottom: 3px solid hsl(0, 0, 90);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: hsl(0, 0, 90);
      }
    }

    a:last-child {
      border-bottom: none;
    }
  }
}

.header-carrousel {
  height: 350px;
  background-color: indianred;
}
