@charset "UTF-8";
/* Estilos globales */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
}

main {
  padding: 20px 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 15px;
}

.presionado {
  border: 1px solid gray;
}

.principal__container {
  padding: 0;
}

footer .footer-information, .index-events,
.index-processes, .index-careers, .header__nav .nav__container {
  width: 90%;
  margin: 0 auto;
}

/* Página principal */
.header__nav {
  padding: 5px 0;
  background-color: white;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
  box-shadow: 0px 0px 10px 0px #000000;
}
.header__nav .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__nav .nav__container .nav-logo {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav .nav__container .nav-logo img {
  width: 100%;
}
.header__nav .nav__container .nav-menu {
  width: 100%;
  display: none;
}
.header__nav .nav__container .nav-menu a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  border-bottom: 3px solid #e6e6e6;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.header__nav .nav__container .nav-menu a:hover {
  background-color: #e6e6e6;
}
.header__nav .nav__container .nav-menu a:last-child {
  border-bottom: none;
}

.header-carrousel {
  height: 350px;
  background-color: indianred;
}

.index-careers {
  max-width: 1200px;
  padding: 20px 0;
}
.index-careers .careers__container-desktop {
  display: none;
}
.index-careers article {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-align: center;
}
.index-careers article .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.index-careers article .title .career__p {
  width: 85%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.index-careers article .title .career__icon {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.index-careers .enfermeria {
  background-color: #2cd8be;
}
.index-careers .administracion {
  background-color: #eb2424;
}
.index-careers .acuacultura {
  background-color: #37a324;
}
.index-careers .informatica {
  background-color: #4079c4;
}
.index-careers .derecho {
  background-color: #aa4908;
}
.index-careers .alimentos {
  background-color: #f2c707;
}

.map__section {
  padding: 20px 0;
}
.map__section .map__container {
  height: 400px;
}
.map__section .map__container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.index-events,
.index-processes {
  max-width: 1200px;
  padding: 20px 0;
}
.index-events .events__container,
.index-events .processes__container,
.index-processes .events__container,
.index-processes .processes__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
}
.index-events .events__container > *:nth-child(1), .index-events .processes__container > *:nth-child(1), .index-processes .events__container > *:nth-child(1), .index-processes .processes__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.index-events .events__container > *:nth-child(2), .index-events .processes__container > *:nth-child(2), .index-processes .events__container > *:nth-child(2), .index-processes .processes__container > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.index-events .events__container > *:nth-child(3), .index-events .processes__container > *:nth-child(3), .index-processes .events__container > *:nth-child(3), .index-processes .processes__container > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.index-events .events__container > *:nth-child(4), .index-events .processes__container > *:nth-child(4), .index-processes .events__container > *:nth-child(4), .index-processes .processes__container > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.index-events .events__container article,
.index-events .processes__container article,
.index-processes .events__container article,
.index-processes .processes__container article {
  background-image: url(../img/conference.jpg);
  background-position: center center;
  background-size: cover;
  height: 350px;
}
.index-events .processes__container article,
.index-processes .processes__container article {
  background-image: url(../img/folder.jpg);
}

.index-processes {
  padding-bottom: 50px;
}

footer {
  padding-top: 20px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2a2a22), color-stop(#36312c), color-stop(#3e3938), color-stop(#444243), to(#4b4b4b));
  background-image: linear-gradient(to top, #2a2a22, #36312c, #3e3938, #444243, #4b4b4b);
  color: white;
  text-align: center;
  margin-top: 30px;
}
footer .footer-information {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-information article {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 20px 0;
}
footer .footer-information article .footer-image-logo {
  position: relative;
  background-color: white;
  padding: 20px 40px;
  border-radius: 25px;
  top: -60px;
  -webkit-box-shadow: 0px 2px 4px #636363;
          box-shadow: 0px 2px 4px #636363;
}
footer .footer-information article .footer-image-logo img {
  height: 200px;
}
footer .footer-information article .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -45px;
}
footer .footer-information article .footer__title {
  position: relative;
  top: -35px;
  padding: unset;
}
footer .footer-information article h2 {
  padding: 15px 0;
}
footer .footer-information article p {
  padding: 10px 0;
}
footer .footer-copy {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 5px 0;
  background-color: #1a1a1a;
}